<div ng-controller="FieldController">
    <div class="modal-body">

        <label for="label">Label</label>
        <input type="text" ng-model="label" class="form-control" id="label">

        <div ng-show="sp">
            <label for="placeholder">Placeholder</label>
            <input type="text" ng-model="placeholder" class="form-control" id="placeholder">
        </div>

        <div ng-show="so">
            <label for="options">Options</label>
            <textarea class="form-control" ng-model="options" id="options" rows=4> </textarea>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>

    <script type="text/ng-template" id="myModalContent.html">
    </script>
</div>
