<h1>Admin</h1>
<h2>Users</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th><span class="glyphicon glyphicon-triangle-bottom" href="#"></span> Username</th>
            <th><span class="glyphicon glyphicon-triangle-bottom"></span> Password</th>
            <th><span class="glyphicon glyphicon-triangle-bottom"></span> Role</th>
            <th><span class="glyphicon glyphicon-triangle-bottom"></span> Action</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td><input type="text" class="form-control" id="username"></td>
            <td><input type="password" class="form-control" id="password"></td>
            <td><input type="text" class="form-control" id="role"></td>
            <td>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </td>
        </tr>

        <tr>
            <td>alice</td>
            <td></td>
            <td>student</td>
            <td>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </td>
        </tr>

        <tr>
            <td>bob</td>
            <td></td>
            <td>faculty | admin</td>
            <td>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </td>
        </tr>

        <tr>
            <td>charlie</td>
            <td></td>
            <td></td>
            <td>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
