<div ng-controller="SearchController">
    <h1>Course List</h1>
    <table class="table table-striped table-responsive">
        <thead>
        <tr>
            <th>Course Name</th>
            <th>Instructor</th>
            <th>Day</th>
            <th>Start Hour</th>
            <th>End Hour</th>
            <th>Location</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="course in courses">
            <td>{{course.CourseName}}</td>
            <td>{{course.instrucorId}}</td>
            <td>{{course.whatDay}}</td>
            <td>{{course.startHour}}</td>
            <td>{{course.endHour}}</td>
            <td>{{course.location}}</td>
            <td>{{course.description}}</td>
            <td>
                <button class="btn btn-default" ng-click="take(course);" type="submit">Take</button>
            </td>
        </tr>

        </tbody>
    </table>

    <p class="bg-danger" ng-show="hasConflict">Time Conflict!</p>


</div>